// Matugen — niri 配色（clavis 统一主题管线）
layout {
    focus-ring {
        active-color "#a6d700"
        inactive-color "#333628"
    }
    border {
        active-color "#a6d700"
        inactive-color "#282b1e"
    }
}
