// Matugen — niri 配色（clavis 统一主题管线）
layout {
    focus-ring {
        active-color "#ffb2bc"
        inactive-color "#413032"
    }
    border {
        active-color "#ffb2bc"
        inactive-color "#362628"
    }
}
