// Managed by Clavis. Manual edits will be replaced.
output "DP-8" {












mode "2560x1440@99.946";
scale 1;
transform "normal";
position x=-8655 y=-181;
}
output "eDP-1" {




























mode "2560x1600@240.000";
scale 1.4;
transform "normal";
position x=-1828 y=0;
variable-refresh-rate on-demand=false;
}

output "eDP-2" {
















off;
mode "2560x1600@60.000";
scale 1.5;
transform "normal";
position x=-6095 y=-2;
};
